/*食谱二级联动通用样式*/

/*.mui-scroll-wrapper {
	position: initial;
}*/

.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}

.mui-pages {
	top: 65px;
	height: auto;
}

.mui-page {
	display: none;
}

.mui-pages .mui-page {
	display: block;
}

.mui-scroll-wrapper,
.mui-scroll {
	background-color: #efeff4;
}

.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}

.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}